@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@200&display=swap');


.Details {
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans TC', sans-serif;
    background: #3e0071;
    height: 520px;
    width: 530px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 1px 15px 50px rgba(0, 0, 0, .2);
    float: right;
    margin-top: 50px;
    margin-right: 50px;
}

.Details .Details-container {
    height: 90%;
    text-align: center;
    color: #fff;
    margin-top: 40px;
}

.Details-container header {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0 auto 60px auto;
    position: relative;
    height: 30px;
    width: 200px;
    overflow: hidden;
}

.Details-container .header-headings {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
}

.Details-container .header-headings span {
    margin: 0;
}

.Details-container .title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 350px;
}

.DetailsForm {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.DetailsForm .Details-field {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all .4s cubic-bezier(.785, .135, .15, .86);
}

.DetailsForm .Details-field input {
    display: flex;
    border: 0;
    padding: 15px;
    font-size: 1rem;
    font-family: 'Noto Sans TC', sans-serif;
    color: #000;
    width: 70%;
    border-radius: 5px;
    margin: 10px 15px;
}

.DetailsForm .Details-field th {
    font-size: 18px;
    text-align: center;
    margin-right: 100px;
}

.DetailsForm .Details-field td {
}

.DetailsForm .Details-field ::placeholder {
    color: #aaa;
}

.Details-field ::-webkit-input-placeholder {
    color: #aaaaaa;
}

.DetailsForm .Details-field :focus {
    outline: none;
}

#gender {
    position: relative;
    display: flex;
    width: 100%;
    border: 0;
    padding: 15px 0px;
    font-size: 1rem;
    font-family: 'Noto Sans TC', sans-serif;
    color: #000;
    border-radius: 6px;
    right: 28%;
    margin-left: 38px;
    background-color: white;
}

.DetailsForm .Details-field .date {
    padding: 15px 30px;
    width: 49%;
}

#password {
    width: 85%
}

.btn-submit-form-one {
    border: 0;
    margin-left: 10px;
    width: 95%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    padding: 15px 0;
    margin-top: 15px;
    border-radius: 8px;
    color: #fff;
    font-size: 1rem;
    font-family: 'Noto Sans TC', sans-serif;
    background: #5c00a762;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .13);
    transition: all .2s ease;
}

.DetailsForm button:hover {
    background: #3e0071;
}

.DetailsForm button:active {
    outline: none;
    background: #3e0071;
}

.DetailsForm button:focus {
    outline: none;
    background: #3e0071;
}

.square {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #EAF4FC;
}
